<router-outlet> </router-outlet>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Описание приложения</h1>
    <p class="lead">
      В приложении работает навигация. При открытии проекта отображается
      компонент BookCenter, для которого дочерним подгружается компонент
      BookList. При нажатии на один из элементов списка BookList подгружается
      соответствующий компонент BookDetails.
      <br>
      Так же реализована реактивная форма с валидации на обязательное заполнение и минимальной и максимальной длинной для поля name
      <br>
      Источником правды выступает сервис books.service, за счет него осушествляется взаимодействие между компонентами.
    </p>
  </div>
</div>
