/* You can add global styles to this file, and also import other style files */

body {
  width: 80vw;
  margin: 20px 10vw;
}

.btn-info {
  position: fixed;
  left: 40px;
  top: 20px;
  width: 40px;
}

